<template>
  <div>
    <div class="g-block notifications">
      <div class="g-block__item notifications__title">
        Уведомления
      </div>
      <div class="g-block__item notifications__tabs">
        <button
          v-for="(tab, tabIndex) in tabs"
          :key="tabIndex"
          :class="{ 'notifications__tabs-button--active': tab.name === currentTab }"
          class="notifications__tabs-button"
          @click="currentTab = tab.name"
        >
          {{ tab.name }}
        </button>
      </div>
      <div :is="currentComponent" />
    </div>
  </div>
</template>

<script>
import TheNotificationsAll from '@pages/TheNotifications/components/TheNotificationsAll';
import TheNotificationsMentions from '@pages/TheNotifications/components/TheNotificationsMentions';

export default {
  name: 'TheNotifications',

  components: {
    TheNotificationsAll,
    TheNotificationsMentions,
  },

  data: () => ({
    all: true,
    mentions: false,
    currentTab: null,
    tabs: [
      {
        name: 'Все',
        component: 'TheNotificationsAll',
      },
      {
        name: 'Упоминания',
        component: 'TheNotificationsMentions',
      },
    ],
  }),

  computed: {
    currentComponent() {
      return this.currentTab && this.tabs.find(tab => tab.name === this.currentTab).component;
    },
  },

  mounted() {
    this.setFirstTab();
  },

  methods: {
    setFirstTab() {
      this.currentTab = this.tabs[0].name;
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.notifications {
  &__tabs {
    display: flex;
    padding: 0;
  }

  &__tabs-button {
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px;
    border-bottom: 2px solid transparent;

    &--active {
      border-bottom: 2px solid #1da1f2;
      color: #1da1f2;
    }

    &:hover,
    &:focus {
      color: #1da1f2;
    }
  }
}
</style>
