@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import "~@global/scss/variables";

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  background-color: $main-background;
  min-height: 100vh;
  padding-top: 52px;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  transition: color 0.2s ease;
  color: $main-color;
}

.g-container {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

.g-block {
  display: block;
  background-color: #fff;

  &__item {
    display: block;
    padding: 15px;
    border-bottom: 1px solid $main-background;
  }
}

.g-button {
  border-radius: 100px;
  display: inline-block;
  user-select: none;
  text-align: center;
  background: none;
  border: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  padding: 0 25px;
  transition: all 0.15s ease;
  transition-property: border-color, color, background-color, box-shadow;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;

  &--border {
    height: 29px;
    color: $main-color;
    border: 1px solid $main-color;
    background: transparent;

    &:hover {
      background-color: #e8f5fd;
    }
  }

  &--fit {
    color: #fff;
    background: $main-color;
    opacity: 0.8;
    border: none;
    padding: 10px 15px;
    margin: 0 auto;

    &:hover {
      opacity: 1;
    }
  }

  &--icon {
    $size: 25px;

    padding: 0;
    color: $main-color;
    width: $size;
    height: $size;
  }
}

.g-input {
  outline: none;
  padding: 8px 20px;
  width: 100%;
  background-color: #f5f8fa;
  border-radius: 21px;
  border: 1px solid transparent;
  color: #14171a;
  transition: all 0.2s ease-in-out;

  &:focus {
    box-shadow: inset 0 0 0 1px $main-color;
    border-color: $main-color;
    background-color: #fff;
  }
}

.g-lock {
  overflow: hidden;
}

.g-avatar {
  margin-right: 10px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  background-color: #aaa;
  border-radius: 50%;
}

.g-dropdown {
  position: relative;

  &--inline {
    display: inline;
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 900;
    padding: 10px 0;
    margin: 2px 0 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
  }

  &-link {
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }
}

.g-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}
