<template>
  <div>
    <div class="row">
      <Dialogues class="col-sm-4" />
      <Messages class="col-sm-8" />
    </div>
  </div>
</template>

<script>
import Dialogues from './components/Dialogues';
import Messages from './components/Messages';

export default {
  name: 'TheMessages',

  components: {
    Dialogues,
    Messages,
  },
};
</script>
