<template>
  <div class="search">
    <Dropdown
      :is-opened="isShowResults"
      closed
    >
      <span slot="title">
        <input
          v-model="searchInput"
          class="g-input"
          type="text"
          placeholder="Поиск в твиттере"
          @input="showResults"
        >
      </span>
      <div slot="content">
        <div class="search__result">
          <a
            v-for="user in foundUsers"
            :key="user.id"
            :href="`https://twitter.com/${user.last_name}`"
            class="search__result-item"
          >
            <img
              :src="user.avatar"
              class="search__result-item-avatar"
            >
            {{ user.first_name }}
          </a>
        </div>
      </div>
    </Dropdown>
  </div>
</template>

<script>
import Dropdown from '@global/components/Dropdown';
import { mapState, mapActions, mapMutations } from 'vuex';

export default {
  name: 'TheSearch',

  components: {
    Dropdown,
  },

  data: () => ({
    searchInput: '',
    isShowResults: false,
  }),

  computed: {
    ...mapState([
      'foundUsers',
    ]),
  },

  methods: {
    ...mapActions([
      'searchUsers',
    ]),

    ...mapMutations([
      'updateState',
    ]),

    showResults() {
      this.searchUsers()
        .then(() => {
          if (this.searchInput === '') {
            this.updateState({ foundUsers: [] });
            this.isShowResults = false;
          } else {
            this.isShowResults = this.foundUsers.length !== 0;
          }
        });
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.search {
  position: relative;
  margin: 10px 0;
  color: $dark-lighten-color;

  &__button {
    position: absolute;
    cursor: pointer;
    top: 20%;
    left: 3%;

    &:hover {
      color: $main-color;
    }
  }

  &__result {
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 300px;

    &-item {
      display: flex;
      align-items: center;
      color: $dark-color;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 16px;
      cursor: pointer;
      outline: none;

      &:hover,
      &:focus {
        background-color: $main-background;
      }

      &-avatar {
        background-color: $dark-lighten-color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}
</style>
