<template>
  <div class="navbar">
    <router-link
      v-for="tab in tabs"
      :key="tab.name"
      :to="tab.to"
      class="navbar__link"
      exact-active-class="navbar__link--active"
    >
      <i class="material-icons">
        {{ tab.icon }}
      </i>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'TheHeaderNavbar',

  data: () => ({
    tabs: [
      {
        name: 'home',
        to: '/',
        icon: 'home',
      },
      {
        name: 'explore',
        to: '/explore',
        icon: 'search',
      },
      {
        name: 'notifications',
        to: '/notifications',
        icon: 'notifications',
      },
      {
        name: 'messages',
        to: '/messages',
        icon: 'mail',
      },
    ],
  }),
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $dark-lighten-color;
    outline: none;
    transition: all 0.2s ease;
    transition-property: box-shadow, color;

    &--active,
    &:hover {
      color: $main-color;
      box-shadow: inset 0 -3px 0 0 $main-color;
    }

    &:focus {
      color: $main-color;
    }
  }

  &__link-button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
}
</style>
