<template>
  <Dropdown
    :is-opened="isShowMenu"
    class="user"
  >
    <div
      slot="title"
      slot-scope="{ isOpened }"
      class="user__container"
      @click="toggleMenu"
    >
      <img
        :src="loggedInUser.avatar"
        class="user__avatar"
      >
      <div class="user__name">
        {{ loggedInUser.first_name }}
      </div>
      <div class="user__hamburger">
        <i
          :class="{ 'user__menu-item-icon--active': isOpened }"
          class="material-icons user__menu-item-icon"
        >
          keyboard_arrow_up
        </i>
      </div>
    </div>
    <div
      slot="content"
      class="user__menu"
    >
      <a
        :href="`https://twitter.com/${loggedInUser.last_name}`"
        class="user__info"
      >
        <div class="user__menu-name">{{ loggedInUser.first_name }}</div>
        @{{ loggedInUser.last_name }}
      </a>
      <hr class="user__menu-divider">
      <template v-for="(item, itemIndex) of menuItems">
        <a
          :key="`${item.to}${itemIndex}`"
          :href="item.to"
          class="user__menu-item"
        >
          <i class="material-icons user__menu-item-icon">
            {{ item.icon }}
          </i>
          {{ item.name }}
        </a>
        <hr
          v-if="item.divider"
          :key="itemIndex"
          class="user__menu-divider"
        >
      </template>
      <div class="user__menu-item">
        Ночной режим
        <i class="material-icons user__menu-item-icon">
          brightness_2
        </i>
      </div>
    </div>
  </Dropdown>
</template>

<script>
import { mapState } from 'vuex';
import Dropdown from '@global/components/Dropdown';

export default {
  name: 'TheHeaderUser',

  components: {
    Dropdown,
  },

  data: () => ({
    isShowMenu: false,
    menuItems: [
      {
        name: 'Профиль',
        to: '/',
        icon: 'person_outline',
      },
      {
        name: 'Списки',
        to: '/',
        icon: 'assignment',
      },
      {
        name: 'Моменты',
        to: '/',
        icon: 'flash_on',
        divider: true,
      },
      {
        name: 'Реклама',
        to: '/',
        icon: 'trending_up',
      },
      {
        name: 'Аналитика',
        to: '/',
        icon: 'equalizer',
        divider: true,
      },
      {
        name: 'Настройка и конфиденциальность',
        to: '/',
        icon: '',
      },
      {
        name: 'Справочный центер',
        to: '/',
        icon: '',
      },
      {
        name: 'Горячие клавишы',
        to: '/',
        icon: '',
      },
      {
        name: 'Выйти',
        to: '/',
        icon: '',
        divider: true,
      },
    ],
  }),

  computed: {
    ...mapState([
      'loggedInUser',
    ]),
  },

  methods: {
    toggleMenu() {
      this.isShowMenu = !this.isShowMenu;
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 100%;
  }

  &__avatar {
    background-color: $dark-lighten-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__hamburger {
    margin: 8px 0 0 5px;
  }

  &__info {
    padding: 8px 16px;
    display: block;
    font-size: 14px;
    color: $gray;
  }

  &__menu-divider {
    margin: 10px 0;
    border: 0;
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  &__menu-name {
    color: $dark-color;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  &__menu-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 16px;
    cursor: pointer;
    color: $dark-color;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: $main-color;
      color: #fff;
    }
  }

  &__menu-item-icon {
    margin-right: 10px;
    transition: transform 0.2s ease;

    &--active {
      transform: scaleY(-1);
    }
  }
}
</style>
