<template>
  <TheLayout>
    <TheNotificationsTabs/>
  </TheLayout>
</template>

<script>
import TheNotificationsTabs from '@pages/TheNotifications/components/TheNotificationsTabs';
import TheLayout from '@global/components/TheLayout';

export default {
  name: 'Home',

  components: {
    TheNotificationsTabs,
    TheLayout,
  },
};
</script>
