<template>
  <TheLayout>
    <Modal
      v-if="isModalShown"
      is-big
      @close="isModalShown = false"
    >
      <div slot="body">
        <img
          :src="modalInfo.media"
          :alt="modalInfo.text"
          class="feed__modal-image"
        >
      </div>
    </Modal>
    <div class="feed">
      <AddPost :logged-in-user="loggedInUser" />
      <Preloader
        v-if="isShownPreloader"
        class="g-block"
        padding
      />
      <template v-if="!isShownPreloader && posts.length">
        <Post
          v-for="(post, postIndex) in posts"
          :key="post.id"
          v-bind="post"
          :index="postIndex"
          class="feed__block"
          @show-modal="showModal"
        />
      </template>
    </div>
  </TheLayout>
</template>

<script>
import { mapState, mapActions } from 'vuex';

// Components
import TheLayout from '@components/TheLayout';
import AddPost from '@components/AddPost';
import Preloader from '@components/Preloader';
import Modal from '@components/Modal';

import Post from './components/Post';

export default {
  name: 'TheHome',

  components: {
    TheLayout,
    AddPost,
    Preloader,
    Modal,
    Post,
  },

  data: () => ({
    isShownPreloader: false,
    isModalShown: false,
    modalInfo: {},
  }),

  computed: {
    ...mapState([
      'loggedInUser',
      'posts',
      'users',
    ]),
  },

  async created() {
    this.isShownPreloader = true;
    await this.getUsers();
    await this.getFeeds();
    this.isShownPreloader = false;
  },

  methods: {
    ...mapActions([
      'getUsers',
      'getFeeds',
    ]),

    showModal(postIndex) {
      this.isModalShown = true;

      this.modalInfo = this.posts[postIndex];
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.feed {
  background-color: #fff;

  &__author-name {
    font-weight: 700;
  }

  &__author-login {
    color: $dark-lighten-color;
  }

  &__block {
    display: flex;
  }

  &__text {
    margin: 10px auto;
  }

  &__media {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
  }

  &__modal-image {
    width: 100%;
  }
}
</style>
