<template>
  <div>
    <div class="dialogues">
      <div class="g-block__item dialogues__title">
        Сообщения
      </div>
      <div class="dialogues__list">
        <div class="g-block dialogues__info">
          <div class="dialogues__info-title">
            Отправил сообщение —
            получил сообщение
          </div>
          <div class="dialogues__info-text">
            Личные сообщения это функция приватной переписки в Твиттере.
            Там можноделитьсятвиттами, медиафайламии другим контентом!
          </div>
          <button class="g-button g-button--fit ">
            Начните переписку
          </button>
        </div>
      </div>
      <button class="g-button g-button--fit dialogues__create-message">
        <i class="material-icons">
          mail
        </i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Dialogues',
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.dialogues {
  background-color: #fff;
  position: relative;
  padding-bottom: 30px;

  &__title {
    border-bottom: 2px solid $main-background;
    font-weight: 700;
  }

  &__info {
    text-align: center;
    padding: 20px;
  }

  &__info-title {
    font-size: 21px;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
  }

  &__info-text {
    text-align: center;
    margin: 20px 0;
    display: block;
    color: $gray;
  }

  &__create-message {
    position: absolute;
    bottom: 3%;
    right: 6%;
    background-color: $main-color;
    border-radius: 50%;
    padding: 10px 0;
    width: 50px;
    height: 50px;
  }
}
</style>
