<template>
  <div>
    <div class="messages">
      <div class="messages__info-wrapper">
        <div class="messages__info">
          <div class="messages__info-title">
            Вы не выбрали сообщение
          </div>
          <div class="messages__info-text">
            Выберите одно из своих сообщений или напишите новое
          </div>
          <button class="g-button g-button--fit">
            Новое сообщение
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Messages',
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.messages {
  background-color: #fff;

  &__info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
  }

  &__info {
    text-align: center;
  }

  &__info-title {
    font-size: 21px;
    margin: 20px 0;
    font-weight: 700;
  }

  &__info-text {
    margin: 20px 0;
    display: block;
    color: $gray;
  }
}
</style>
