<template>
  <TheLayout :is-shown-current-topics="false">
    <CurrentTopics/>
  </TheLayout>
</template>

<script>
import CurrentTopics from '@global/components/CurrentTopics';
import TheLayout from '@global/components/TheLayout';
import ButtonCreateTwitt from '@global/components/ButtonCreateTwitt';

export default {
  name: 'TheExplore',

  components: {
    CurrentTopics,
    ButtonCreateTwitt,
    TheLayout,
  },
};
</script>
