<template>
  <div class="g-block__item who-to-read__item">
    <div class="who-to-read__item-info">
      <img
        :src="avatar"
        :alt="first_name"
        class="who-to-read__avatar"
      >
      <div>
        <div class="who-to-read__name">
          {{ first_name }}
        </div>
        <a
          :href="`https://twitter.com/${last_name}`"
          class="who-to-read__login"
        >
          @{{ last_name }}
        </a>
      </div>
    </div>
    <button class="g-button g-button--border">
      Читать
    </button>
  </div>
</template>

<script>
export default {
  name: 'WhoToReadUser',

  props: {
    first_name: {
      type: String,
      default: '',
    },
    last_name: {
      type: String,
      default: '',
    },
    avatar: {
      type: String,
      default: '',
    },
  },
};
</script>
