<template>
  <div class="g-block__item">
    <a
      :href="`https://twitter.com/${author.login}`"
      class="g-avatar"
    >
      <img
        :src="author.avatar"
        class="g-avatar"
      >
    </a>
    <div>
      <span class="feed__author-name">
        {{ author.name }}
      </span>
      <a
        :href="`https://twitter.com/${author.login}`"
        class="feed__author-login"
      >
        @{{ author.login }}
      </a>
      <div
        class="feed__text"
        v-html="text"
      />
      <img
        v-if="type === 'img'"
        :src="media"
        class="feed__media"
        @click="$emit('show-modal', index)"
      >
      <video
        v-if="type === 'video'"
        width="400"
        height="300"
        controls="controls"
        poster="video/duel.jpg"
      >
        <source
          :src="media"
          type="video/mp4"
        >
      </video>
      <ActionBar
        :comments-amount="commentsAmount"
        :reposts="reposts"
        :likes="likes"
      />
    </div>
  </div>
</template>

<script>
import ActionBar from '@components/ActionBar';

export default {
  name: 'Post',

  components: {
    ActionBar,
  },

  props: {
    avatar: {
      type: String,
      default: '',
    },
    author: {
      type: Object,
      default: () => ({}),
    },
    text: {
      type: String,
      default: '',
    },
    media: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: '',
    },
    commentsAmount: {
      type: Number,
      default: null,
    },
    reposts: {
      type: Number,
      default: null,
    },
    likes: {
      type: Number,
      default: null,
    },
    index: {
      type: Number,
      default: null,
    },
  },

  data: () => ({
    isModalShown: false,
  }),
};
</script>
