<template>
  <div class="g-block who-to-read">
    <div
      v-if="!isShownPreloader"
      class="g-block__item"
    >
      Кого читать
    </div>
    <Preloader
      v-if="isShownPreloader"
      padding
    />
    <template v-if="!isShownPreloader && users.length !== 0">
      <WhoToReadUser
        v-for="user in users"
        :key="user.id"
        v-bind="user"
      />
    </template>
    <a
      v-if="!isShownPreloader"
      href="/"
      class="g-block__item"
    >
      Показать еще
    </a>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

// Components
import Preloader from '@components/Preloader';

import WhoToReadUser from './components/WhoToReadUser';

export default {
  name: 'WhoToRead',

  components: {
    Preloader,
    WhoToReadUser,
  },

  data: () => ({
    isShownPreloader: false,
  }),

  computed: {
    ...mapState([
      'users',
    ]),
  },

  async created() {
    if (this.users.length > 0) return;
    this.isShownPreloader = true;
    await this.getUsers();
    this.isShownPreloader = false;
  },

  methods: {
    ...mapActions([
      'getUsers',
    ]),
  },
};
</script>

<style lang="scss">
.who-to-read {
  margin-bottom: 16px;
  background-color: #fff;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      align-items: center;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    background-color: #aaa;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__login {
    color: #657786;
  }
}
</style>
