<template>
  <div class="action-bar">
    <div class="action-bar__button">
      <i class="material-icons action-bar__icon">
        chat_bubble_outline
      </i>
      {{ commentsAmount }}
    </div>
    <div class="action-bar__button">
      <i class="material-icons action-bar__icon">
        repeat
      </i>
      {{ reposts }}
    </div>
    <div class="action-bar__button">
      <i class="material-icons action-bar__icon">
        favorite_border
      </i>
      {{ likes }}
    </div>
    <div class="action-bar__button">
      <i class="material-icons action-bar__icon">
        cloud_upload
      </i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActionBar',

  props: {
    commentsAmount: {
      type: Number,
      default: null,
    },
    reposts: {
      type: Number,
      default: null,
    },
    likes: {
      type: Number,
      default: null,
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.action-bar {
  display: flex;

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px 40px 0 0;
    color: #aaa;

    &:hover {
      color: $main-color;
    }
  }

  &__icon {
    margin-left: 7px;
    cursor: pointer;
    transition: color 0.3s ease;

    &--main-color {
      color: $main-color;
    }
  }
}
</style>
