<template>
  <div class="add-post g-block__item">
    <img
      :src="loggedInUser.avatar"
      class="add-post__avatar"
    >
    <input
      class="g-input"
      type="text"
      placeholder="Что происходит?"
    >
    <div class="add-post__actions">
      <button class="g-button g-button--icon add-post__icon">
        <i class="material-icons">
          photo
        </i>
      </button>
      <button class="g-button g-button--icon add-post__icon">
        <i class="material-icons">
          gif
        </i>
      </button>
      <button class="g-button g-button--icon add-post__icon">
        <i class="material-icons">
          sort
        </i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddPost',

  props: {
    loggedInUser: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.add-post {
  display: flex;
  padding: 16px;
  align-items: center;

  &__avatar {
    $size: 50px;

    margin-right: 10px;
    width: $size;
    height: $size;
    flex-basis: $size;
    background-color: #aaa;
    border-radius: 50%;
  }

  &__add-news {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
  }

  &__icon {
    margin-left: 7px;
  }
}
</style>
