<template>
  <div>
    <button
      class="g-button g-button--fit create-twitt__button"
      @click="isShownModal = true"
    >
      <i class="material-icons">
        edit
      </i>
      <span class="create-twitt__text">Твитнуть</span>
    </button>
    <Modal
      v-if="isShownModal"
      is-top
      @close="isShownModal = false"
    >
      <div slot="body">
        Create new Twitt
      </div>
    </Modal>
  </div>
</template>

<script>
import Modal from '@global/components/Modal';

export default {
  name: 'CreateTwitt',

  components: {
    Modal,
  },

  data: () => ({
    isShownModal: false,
  }),
};
</script>

<style lang="scss">
.create-twitt {
  &__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 2%;
    right: 230px;
    height: 50px;
  }

  &__text {
    margin-left: 5px;
  }
}
</style>
