<template>
  <div
    class="g-block topics"
  >
    <Preloader
      v-if="isShownPreloader"
      padding
    />
    <div
      v-if="!isShownPreloader"
      class="g-block__item"
    >
      Актуальные темы для вас
    </div>
    <template v-if="!isShownPreloader">
      <a
        v-for="topic in topics"
        :key="topic.id"
        :href="`https://twitter.com/hashtag/${topic.tag}`"
        class="g-block__item topics__link"
      >
        {{ topic.location }}
        <div class="topics__link-name">
          {{ topic.name }}
        </div>
      </a>
      <a
        href="/"
        class="g-block__item topics__show-all"
      >
        Показать еще
      </a>
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import Preloader from '@global/components/Preloader';

export default {
  name: 'CurrentTopics',

  components: {
    Preloader,
  },

  props: {
    topicsBig: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    isShownPreloader: false,
  }),

  computed: {
    ...mapState([
      'topics',
      'users',
    ]),
  },

  async created() {
    if (this.users.length > 0) return;
    this.isShownPreloader = true;
    await this.getUsers();
    this.isShownPreloader = false;
  },

  methods: {
    ...mapActions([
      'getUsers',
    ]),
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.topics {
  &__show-all {
    color: #1da1f2;
    border-bottom: none;
  }

  &__link-name {
    color: $dark-color;
    font-weight: 700;
  }

  &__link {
    color: $gray;

    &:hover {
      .topics__link-name {
        color: $main-color;
        text-decoration: underline;
      }
    }
  }
}
</style>
