<template>
  <div class="footer">
    <div class="footer__links">
      <a
        href="/"
        class="footer__link"
      >
        Условия
      </a>
      <a
        href="/"
        class="footer__link"
      >
        Политика конфиденциальности
      </a>
      <a
        href="/"
        class="footer__link"
      >
        Файлы cookie
      </a>
      <a
        href="/"
        class="footer__link"
      >
        Инофрмация о рекламе
      </a>
    </div>
    <span class="footer__copyright">
      @Twitter, inc, 2018.
    </span>
  </div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss">
.footer {
  margin-top: 20px;

  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    margin: 0 10px 10px 0;
    color: #66757f;
    display: block;
  }

  &__copyright {
    display: block;
    color: #66757f;
    margin-bottom: 20px;
  }
}
</style>
