<template>
  <div
    :class="{ 'preloader--padding': padding }"
    class="preloader"
  >
    <div class="preloader__spinner" />
  </div>
</template>

<script>
export default {
  name: 'Preloader',

  props: {
    padding: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.preloader {
  &--padding {
    padding: 30px;
  }

  &__spinner {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 4px solid;
    border-radius: 50%;
    border-color: transparent $main-color;
    animation: preloader-spin 0.6s infinite linear;
  }
}

@keyframes preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
</style>
