<template>
  <div>
    <div class="row">
      <div class="col-sm-8">
        <slot />
      </div>
      <div class="col-sm-4">
        <WhoToRead />
        <CurrentTopics v-if="isShownCurrentTopics"/>
        <Footer />
      </div>
    </div>
    <ButtonCreateTwitt/>
  </div>
</template>

<script>
// Components
import WhoToRead from '@features/WhoToRead';
import CurrentTopics from '@components/CurrentTopics';
import Footer from '@components/Footer';
import ButtonCreateTwitt from '@components/ButtonCreateTwitt';

export default {
  name: 'TheLayout',

  components: {
    WhoToRead,
    CurrentTopics,
    Footer,
    ButtonCreateTwitt,
  },

  props: {
    isShownCurrentTopics: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
