<template>
  <header class="header j-header">
    <div class="g-container">
      <div class="row">
        <TheHeaderNavbar class="col-sm-4"/>
        <TheHeaderSearch class="col-sm-5"/>
        <TheHeaderUser class="col-sm-3"/>
      </div>
    </div>
  </header>
</template>

<script>
import TheHeaderNavbar from './components/TheHeaderNavbar';
import TheHeaderSearch from './components/TheHeaderSearch';
import TheHeaderUser from './components/TheHeaderUser';

export default {
  neme: 'TheHeader',

  components: {
    TheHeaderNavbar,
    TheHeaderSearch,
    TheHeaderUser,
  },
};
</script>

<style lang="scss">
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
</style>
